name: token_provider

concurrency:
  group: $-$
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "packages/token_provider/**"
      - ".github/workflows/token_provider.yaml"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@v1
    with:
      dart_sdk: 3.4.4
      working_directory: packages/token_provider
      coverage_excludes: "**/*.g.dart"
      min_coverage: 100